<div class="main-container-organization">
  <div class="container-title">
    <div class="container-title-content">
      <span>
        <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M7.89746 12.919L2.86035 7.76407H19.9995V6.23543H2.86035L7.90039 1.08203L6.84131 0L0 7.00075L6.84082 14L7.89746 12.919Z"
            fill="#EBECF2"></path>
        </svg>
      </span>
      <h1>Organizations</h1>
    </div>
    <div class="d-flex">
      <div class="searchBar">
        <input id="searchQueryInput" #searchQueryInput type="text" name="searchQueryInput" placeholder="Search" />
        <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
          <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12 0.851953L11.1498 0L6 5.16094L0.850195 0L0 0.851953L5.14981 6.01289L0.0257813 11.148L0.875977 12L6 6.86484L11.124 12L11.9742 11.148L6.8502 6.01289L12 0.851953Z"
              fill="#505575"  />
          </svg>
        </button>
      </div>
      <button mat-flat-button="" class="action-btn-info margin-l-15" tabindex="0" ng-reflect-router-link="" (click)="addOrgDialog('0ms', '0ms')">Add Organization</button>
    </div>
  </div>
  <div class="row margin-0">
    <div class="col-md-12 org-list-sec">
      <div class="tableContainer">
        <div class="tabletophead">
          <div class="lefthead">
            <h2>Organization List</h2>
          </div>
        </div>
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- organization Name -->
          <ng-container matColumnDef="organization_Name">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Organization Name</th>
             <td mat-cell *matCellDef="let element" id="organization_Name"> {{element.organization_Name}} </td>
          </ng-container>
          <!--Type -->
          <ng-container matColumnDef="type">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
             <td mat-cell *matCellDef="let element"> {{element.type}} </td>
          </ng-container>
          <!-- status -->
          <ng-container matColumnDef="status">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
             <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>
          <!-- realms -->
          <ng-container matColumnDef="realms">
             <th mat-header-cell *matHeaderCellDef mat-sort-header>Realms</th>
             <td mat-cell *matCellDef="let element"> {{element.realms}} </td>
          </ng-container>
           <!-- nimbus group ids -->
           <ng-container matColumnDef="nimbus_group_ids">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nimbus Group Ids</th>
            <td mat-cell *matCellDef="let element"> {{element.nimbus_group_ids}} </td>
         </ng-container>
         <!-- business_unit -->
         <ng-container matColumnDef="business_unit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Business Unit</th>
          <td mat-cell *matCellDef="let element"> {{element.business_unit}} </td>
       </ng-container>
       <!-- action -->
       <ng-container matColumnDef="action">
        <th colspan="2" *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let element"><a href="org/view-org">{{element.view}}</a><a (click)="openDialog('0ms', '0ms')">{{element.remove}}</a></td>
        <!-- <td mat-cell *matCellDef="let element"><a (click)="openDialog('0ms', '0ms')"></a></td> -->
        <!-- <mat-menu #SelectionFilter="matMenu" class="filter-container">
          <div class="align-center">
             <div class="select-filter">
                <div class="select-filter-header">
                   <div class="select-filter-title">Filter by</div>
                   <button mat-icon-button class="calender-alrt-filter-close button-type-none"><svg width="16"
                         height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16 1.13594L14.8664 0L8 6.88125L1.13359 0L0 1.13594L6.86641 8.01719L0.034375 14.8641L1.16797 16L8 9.15312L14.832 16L15.9656 14.8641L9.13359 8.01719L16 1.13594Z"
                            fill="#CCCFDE" />
                      </svg>
                   </button>
                </div>
                <div class="select-filter-action-btn">
                   <button mat-flat-button class="action-btn active">Apply</button>
                </div>
             </div>
          </div>
       </mat-menu> -->
     </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       </table>
       <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
       </mat-paginator>
      </div>
    </div>
  </div>
</div>